h1 { 
    color: rgb(12, 15, 189); 
    font-family: "Dancing Script", cursive; 
} 
 
.divider { 
    width: 100%; 
    height: 2px; 
    background-color: black; 
    margin-bottom: 20px; 
} 
 
.container { 
    display: flex; 
    flex-wrap: wrap; 
    gap: 20px; 
    width: 100%; 
    justify-content: space-between; 
    align-items: flex-start; 
} 
 
.text-card { 
    color: #000; 
    font-family: "Readex Pro"; 
    font-size: 22px; 
    font-style: normal; 
    font-weight: 400; 
    line-height: 27.5px; 
} 
 
.price-card { 
    color: #000; 
    font-family: "Inter"; 
    font-size: 18px; 
    font-style: normal; 
    font-weight: 400; 
    line-height: 21.6px; 
} 
 
.card-img { 
    width: 264px; 
    height: 290px; 
}
/* Основний стиль для навігаційної панелі */
.navbar {
    background-color: #fefeff; /* Темно-синій фон */
    padding: 10px 20px; /* Внутрішні відступи для елементів */
    border-bottom: 2px solid #122694; /* Синя нижня межа */
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1); /* Легка тінь */
}

/* Стиль бренда */
.navbar-brand {
    color: #122694; /* Світло-сірий текст */
    font-size: 1.5rem; /* Збільшений розмір шрифту */
    font-weight: bold; /* Жирний шрифт */
    text-transform: uppercase; /* Усі літери великі */
    text-decoration: none; /* Без підкреслення */
    transition: color 0.3s ease; /* Плавний перехід кольору */
}

/* Ефект наведення для бренда */
.navbar-brand:hover {
    color: #3498db; /* Синій текст при наведенні */
}

/* Стиль заголовка */
.navbar .h1 {
    color: #ecf0f1; /* Світло-сірий текст */
    font-size: 1.5rem; /* Розмір тексту */
    font-weight: bold; /* Жирний стиль */
}

/* Контейнер */
.container-fluid {
    max-width: 1200px; /* Центрування вмісту */
    margin: 0 auto; /* Вирівнювання по центру */
}

/* Адаптивність */
@media (max-width: 768px) {
    .navbar {
        padding: 10px; /* Менші відступи для мобільних */
    }

    .navbar-brand, 
    .navbar .h1 {
        font-size: 1.2rem; /* Зменшення тексту на менших екранах */
    }
}
